
<br><br><br><br><br>
<br><br><br><br><br>
<footer style="margin-bottom: 0%;">
    <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#0099ff" fill-opacity="1" d="M0,288L1440,192L1440,320L0,320Z"></path></svg> -->
    <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#0099ff" fill-opacity="1" d="M0,288L1440,192L1440,320L0,320Z"></path></svg> -->
    <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#0099ff" fill-opacity="1" d="M0,96L0,192L1440,192L1440,320L0,320L0,320Z"></path></svg> -->
    <div class="container-fluid" style="background-color: #333333;color: white; margin-bottom: 0%;">
        <div class="row ">
            <div class="col-12 text-center"> <b>ABOUT US</b></div>
           
        </div>
        <div class="row">
            <div class="col-12 col-md-6" style="border-right:2px solid white;">
                <div style="text-align: right;margin-top: 2%;margin-bottom: 2%;" >
                    <div class="rounded" style="margin-right:4%;"><img src="https://scontent.flko3-1.fna.fbcdn.net/v/t31.0-8/21368899_1947226178889650_5202492566897398598_o.jpg?_nc_cat=102&ccb=2&_nc_sid=09cbfe&_nc_ohc=aXXshY5GW4gAX_FXj8l&_nc_ht=scontent.flko3-1.fna&oh=02271a14a6c16a6a7678757534c1c2d8&oe=5FED2FB9" height="130" width="130" style="border-radius: 50%;border: 4px solid white;" alt="" srcset=""  ></div>
                    <div class="d1" class="d-flex align-items-center" style="margin-bottom: 0px;"><h1><b><u>MANAL JAIN</u></b></h1></div>
                    <div class="d4" class="d<h1>-flex align-items-start" style="margin-top: 0px;">(Mentor)</div>
                </div>
            </div>
            <div class="col-12 col-md-6 bg-dark d-flex align-items-center" style="padding-left: 7%;" >
                <h2 style="text-align: center;"><u style="color: orange;">OUR MEMBERS</u></h2>
                <ul class="list-group bg-dark">
                    <li class="list-group-item bg-dark" style="text-align: start;">Abhishek Pal</li>
                    <li class="list-group-item bg-dark" style="text-align: start;">Adarsh Chaudhary</li>
                    <li class="list-group-item bg-dark" style="text-align: start;">Shubham Gupta</li>
                    <li class="list-group-item bg-dark" style ="text-align: start;">Umang Gupta</li>
                  
                </ul>
            </div>
        </div>
    </div>
</footer>
<br>
