<link rel="stylesheet" href="/css/sign_in.css">



<!-- <div id="signIn-Container">
       
       <div id="signIn-message">
        
        </div>

        <div id="signIn-tempalte">
            <h1> Sign In to Codeial</h1>
                <form id="signIn" action="/users/create-session" method="POST">
                    <input type="email" name="email" placeholder="your email" required><br>
                    <input type="password" name="password" placeholder="password" required><br>
                    <input type="submit" value="Sign In" title="click here to signIn">

                </form>
            <p id="googleSignLink"><a href="/users/auth/google"  title="click here to google signIn">Google Sign In</a></p>
        </div>
</div> -->


<div class="container rounded">
    <h2 class="text-success">LOGIN YOUR ACCOUNT !!!</h2>

        <div class="jumbotron " style="border-radius: 20px;">
                   <form id="signIn" action="/users/create-session" method="POST">
                            <div class="form-column">
                                <div class="form-group col-md-6">
                                <label for="inputEmail4">Email</label>
                                <input type="email" name="email" class="form-control" id="inputEmail4" placeholder="Email" required>
                                </div>
                                <div class="form-group col-md-6">
                                <label for="inputPassword4">Password</label>
                                <input type="password" name="password" class="form-control" id="inputPassword4" placeholder="Password" required>
                                </div>
                            </div>
                            
                            <input class="btn btn-primary" type="submit" value="Sign In">
                    </form>
                        
       </div>
</div>